@model Assesment2.Models.UsersManagement
@{
    ViewData["Title"] = "ForgetPassword";
}
<h1>ForgetPassword</h1>
<div class="col-md-4">
    <form>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="text" class="form-control" name="email" />
        </div>
        <div class="form-group">
            <input type="submit" href="" value="Send Email" class="btn btn-primary" />
        </div>
    </form>
</div>
