@model Assesment2.Models.UsersManagement

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>UsersManagement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" id="UserName" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" id="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" id="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" id="Email" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <a href="/Login/ForgetPassword">Forget Password</a>
                @*<input type="submit" value="Forget Password" class="btn btn-primary" />*@
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

    $(function () {

        $("#UserName").val(localStorage.getItem("name"));
        $("#password").val(localStorage.getItem("password"));
        $("#Email").val(localStorage.getItem("email"));
        $("#Email").val(localStorage.clear("email"));
        $("#UserName").val(localStorage.clear("name"));
        $("#password").val(localStorage.clear("password"));
        $("#UserName").blur(function () {
            localStorage.setItem("name", $("#UserName").val());
        });
        $("#Email").blur(function() {
            localStorage.setItem("email", $("#Email").val());
        });
        $("password").blur(function () {
            localStorage.setItem("password", $("#password").val());
        });
        
    });
</script>
}
